body{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
Container{
    margin:0;
    padding:0;
    width:1366px;
    height:965px;
    border:1px solid;
    border-color: #CDCDCD;
    
 

}

