body {
    font-family: 'Nunito', sans-serif;
    max-width: 1440px;
    background-image: url('../../assets/background/bg-img-4.png'), url('../../assets/background/bg-img-3.png'), url('../../assets/background/bg-img-5.png');
    background-position: left, left, 86% 100%;
    background-repeat: no-repeat;
    margin: 24px auto;
    width: 100%;
}
.confirmacao-pre-cadastro{
    display: block;
    padding: 237px 94px 0 46%; 
    text-align: right;
}
.confirmacao-pre-cadastro h1 {
    font-weight: 600;
    font-size: 40px;
    color: #018762;
}

.confirmacao-pre-cadastro h4 {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    width: 605px;
}
.confirmacao-pre-cadastro h5 {
    display: block;
    font-weight: 400;
    font-size: 24px;
    color: #018762;
    margin: 21.4 auto;
    width: 605px;
}

@media only screen and (max-height: 768px) {
    .confirmacao-pre-cadastro {

    }
}
